@media (max-width: 920px) {
    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0 1em 6em;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 30%;
    }

    .js .nav-toggle {
        margin: 0.6667em 0 1em 6em;
    }

    .three-col-container {
        grid-template-rows: repeat(10, 1fr);
        
        .html,
        .css,
        .php,
        .git,
        .sql,
        .js,
        .py {
            grid-row: span 1;
            grid-column: span 3;
        }
    }

    .two-col-sidebar {
        display: none;
    }

    .two-col-container {
        flex-direction: column;
    }

    .col-flex-content {
        flex: 1;
        width: 100%;
        margin-right: 0;
        margin-top: 0.5rem;
    }

    .row {
        flex-direction: column;
    }
}

@media (max-width: 451px) {
    .js .nav-toggle {
        margin: 1em;
        font-size: 1.7rem;
    }
}
