@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 30%;
    }

    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .three-col-container {
        grid-template-rows: repeat(10, 1fr); 
        .html,
        .css,
        .php,
        .git,
        .extra,
        .sql,
        .js,
        .py {
          grid-row: span 1;
          grid-column: span 3;
        }
      }


    .two-col .sidebar {
        display: none;
    }

    .two-col .content {
        grid-column: span 2;
    }

    .two-col-container {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-rows: repeat(10, 1fr); 
    }
}