@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'media-queries';

@import 'typography';
@import 'blockquotes';
@import 'code';
@import 'site-components';
@import 'mobile-menu';


body {
    background-color: $background-color-light;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

img {
    max-width: 100%;
    margin-top: 1em;
}

img.center { 
    display: block;
    margin: 0 auto;
}