.grid {
    display: grid;
    gap: 1em 1em;
}

.wrapper {
    max-width: 85em;
    margin: 0 auto;
}

.three-col-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "title title title"
    "html html css"
    "php git git"
    "sql sql sql"
    "js py py";
}

.three-col-container h1 {
    grid-area: title;
    justify-self: center;
}

.two-col-container {
    display: flex;
}

.two-col-sidebar {
    flex: 1; 
    padding: 1em;
    border-right: 1px solid $color-gray-light;
}

.two-col-content {
    flex: 2;
    padding: 1em;
}

.box {
    grid-column: span 3;
    border: 1px solid $color-gray-light;
    padding: 1em;
    border-radius: 0.3em;
    text-align: center;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.php {
    grid-area: php;
}

.git {
    grid-area: git;
}

.sql {
    grid-area: sql;
}

.js {
    grid-area: js;
}

.py {
    grid-area: py;
}

.box > .fab,
.box > .fas {
    display: block;
    font-size: 1.5em;
}

.two-col-sidebar ul {
    list-style-type: none;
}

.two-col-sidebar ul li::before {
    content: '\2043';
    position: absolute;
    margin-left: -1em;
}

.two-col-container a,
.two-col-sidebar a,
.three-col-container a {
    color: $font-black;
    text-decoration: none;
    font-weight: bold;
}

.two-col-container a:visited,
.two-col-sidebar a:visited,
.three-col-container a:visited {
    color: $font-black;
}

.two-col-container a:hover,
.two-col-sidebar a:hover,
.three-col-container a:hover {
    color: $color-purple;
    text-decoration: underline;
}
