body {
    font-family: $font-main;
    line-height: 1.5rem;
    color: $font-black;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin: 0.5em 0;
}

.main p {
    max-width: 64rem;
}

p .align-center {
    text-align: center; 
}

@mixin header-styles($font-size, $margin-bottom, $margin-top: null, $font-weight: bold, $font-style: normal) {
    margin-bottom: $margin-bottom;
    line-height: 2.5rem;
    font-weight: $font-weight;
    font-family: $font-headers;
    font-size: $font-size;
  
    @if $margin-top {
        margin-top: $margin-top;
    }
  
    @if $font-style {
        font-style: $font-style;
    }
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
    @include header-styles(null, null, 0.5em);
}

h1 {
    @include header-styles(2rem, 0.6em);
}

h2 {
    @include header-styles(1.7rem, 0.6em, null, null, null);
}

h3 {
    @include header-styles(1.4rem, null, null, null, null);
}

h4 {
    @include header-styles(1.1rem, null, null, null, null);
}

h5, h6 {
    @include header-styles(1rem, null, null, null, null);
}

h6 {
    @include header-styles(1rem, null, null, normal, italic);
}