body {
    font-family: $font-main;
    line-height: 1.5rem;
    color: $font-black;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    line-height: 2.5rem;
    font-weight: bold;
    font-family: $font-headers;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
    margin-top: 0.5em;
}

h1 { 
    font-size: 2rem; 
}

h2 { 
    font-size: 1.7rem; }

h3 { 
    font-size: 1.4rem; 
}

h4 { 
    font-size: 1.1rem; 
}

h5 { 
    font-size: 1rem; 
}

h6 { 
    font-size: 1rem; 
    font-weight: normal; 
    font-style: italic; 
}

p .align-center {
    text-align: center; 
}