body {
    font-family: $font-main;
    line-height: 1.5rem;
    color: $text;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin: 0.5em 0;
}

.main p {
    max-width: 64rem;
}

p .align-center {
    text-align: center; 
}

.italic {
    font-style: italic;
}

@mixin header-styles($font-size, $margin-bottom, $margin-top: 0.5em, $font-weight: null, $font-style: normal) {
    margin-bottom: $margin-bottom;
    line-height: 2.5rem;
    font-weight: $font-weight;
    font-family: $font-headers;
    font-size: $font-size;
    color: $heading-color;
    
  
    @if $margin-top {
        margin-top: $margin-top;
    }
  
    @if $font-style {
        font-style: $font-style;
    }
}

h1 {
    @include header-styles(2.625rem, 0.3rem, 0.67rem, 700, null);
}

h2 {
    @include header-styles(1.875rem, null, null, 600, null);
}

h3 {
    @include header-styles(1.375rem, null, null, 600, null);
}

h4 {
    @include header-styles(1.125rem, null, null, 600, null);
}

h5, h6 {
    @include header-styles(1rem, null, null, null, null);
}

h6 {
    @include header-styles(1rem, null, null, normal, italic);
}

.main h2::after {
    display: block;
    content: "";
    max-width: 25rem;
    height: 2px;
    background: linear-gradient(90deg, rgba(81,40,99,0.65) 0%, rgba(81,40,99,0.5) 35%, rgba(182,115,176,0.2) 100%);
}