@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Bitter:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

$font-main: 'Barlow', Arial, Helvetica, sans-serif;
$font-headers: 'Bitter', Georgia, 'Times New Roman', Times, serif;

$text: #16161c;
$heading-color: #36363c;
$background: #f7f7ff;
$background-rgb: rgb(245, 245, 255);
$background-secondary: #f7f7ff;
$background-items: #efeff8;

$primary: #512863;
$complementary: #7a3680;

$color-gray-dark: #36363c;
$color-gray-mid: #8f8f97;
$color-gray-light: #e5e5ed;

$header: #512863;
$footer: #512863;
$link-hover: #6b3176;

$margin-bottom: 0.6em;

/* REFERENCES */

$color-gray-50: #f7f7ff; /* ok text lila o svart*/
$color-gray-100: #efeff8;
$color-gray-200: #e5e5ed;
$color-gray-300: #d4d3dc;
$color-gray-400: #afafb7;
$color-gray-500: #8f8f97;
$color-gray-600: #67676f;
$color-gray-700: #54545b;
$color-gray-800: #36363c;
$color-gray-900: #16161c; /* BASE */

$color-purple-50: #f2e6f1;
$color-purple-100: #dfc1dd; 
$color-purple-200: #cb99c7;
$color-purple-300: #b673b0;
$color-purple-400: #a6589f;
$color-purple-500: #96428f;
$color-purple-600: #8a3d89;
$color-purple-700: #7a3680;
$color-purple-800: #6b3176;
$color-purple-900: #512863;
