@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Bitter:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

$font-black: #0b0b0b;
$font-white: #fdfdfd;

$color-purple: #b30c9c;
$color-gray-light: #ccc;
$color-white-alt: #f5f5f5;

$background-color-light: #fdfdfd;
$background-color-dark: #16161c;

$font-main: 'Barlow', Arial, Helvetica, sans-serif;
$font-headers: 'Bitter', Georgia, 'Times New Roman', Times, serif;