{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div id="main" class="main" role="main">
        <div class="wrapper col-flex-container">
                {{ content }}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
