{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    
    <div id="main" class="main" role="main">
    {% if page.title != "Technologies" %}
        <div class="wrapper grid two-col-container">
     {% endif %}

    {% if page.title == "Technologies" %} 
        <div class="wrapper grid three-col-container">
    {% endif %}
            {{ content }}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
